@font-face {
    font-family: 'Marsek Demi';
    src: url('/static/fonts/MarsekDemi.woff2') format('woff2'),
        url('/static/fonts/MarsekDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('../static/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima nova regular';
    src: url('../static/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

