@import './fonts.scss';
@import './_variables.scss';
@import '~materialize-css/sass/materialize.scss';
@import './index.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');





.button{
    background-color: rgb(0, 118, 255);
}
body{
    background-color: $primary-color;
}
h1, li{
    color: #78b5b9
}
p, h2, h3{
    color: white;
}
p{
    font-size: 18px;
}




